.gap {
  margin: 5px 0
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #eedee7;
}

.title {
  flex-grow: 1;
  cursor: pointer;
}

.title-link {
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
}

.edit-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.done {
  text-decoration: line-through;
  color: gray;
}
