:host {
  display: block;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

ul {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}
